PORT_API=3007
PORT_BATCH=3008
NODE_ENV=development
MONGO_DEV=mongodb+srv://mirodeveloper7_db_user:bIS6F1Y8eoDCAgtK@cluster0.gylxozl.mongodb.net/nestar?retryWrites=true&w=majority&appName=Cluster0
MONGO_PROD=mongodb+srv://mirodeveloper7_db_user:bIS6F1Y8eoDCAgtK@cluster0.gylxozl.mongodb.net/nestar?retryWrites=true&w=majority&appName=Cluster0
